body {
    background-color: #333; /* Fond noir-gris */
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police de caractères */
    overflow: hidden; /* Empêcher le défilement horizontal */
  }
  
  .frame-container {
    display: flex;
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: 100vh; /* Hauteur de l'écran */
  }
  
  .frame {
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    border-radius: 10px; /* Bord arrondi */
    padding: 20px; /* Espacement à l'intérieur du frame */
    width: 300px; /* Largeur du frame */
    margin: auto; /* Centrer horizontalement */
    text-align: left; /* Alignement du texte à gauche */
  }
  
  .frame img {
    width: 100%; /* Image prenant toute la largeur du frame */
    border-radius: 10px; /* Bord arrondi */
  }
  
  .frame p {
    margin-bottom: 10px; /* Espacement en bas du paragraphe */
  }
  
  .instructions {
    text-align: right; /* Aligner le texte à droite */
    padding: 20px; /* Espacement intérieur */
  }
  
  .instructions button {
    background-color: #7289DA; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Supprime les bordures du bouton */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border-radius: 5px; /* Bord arrondi */
    cursor: pointer; /* Curseur pointeur au survol */
  }
  
  .instructions button:hover {
    background-color: #5f73bc; /* Couleur de fond du bouton au survol */
  }
  